server {
    listen {{ item.port | default(80) }};

    server_name {{ item.server_name }};

    root {{ item.root | default("/usr/share/nginx/www") }};
    index {{ item.index | default("index.html index.htm") }};
}
